:root {
  font-family: "Raleway";

  color-scheme: light dark;
  --color: #5e3023;
  --background-color: #f3e9dc;
  --detail-color: #b10a3a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Font size */
  --step-0: clamp(1.125rem, 1.1rem + 0.125vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.3075rem + 0.2125vw, 1.5625rem);
  --step-2: clamp(1.944rem, 1.8445rem + 0.4974vw, 2.4414rem);
  --step-3: clamp(2.3328rem, 2.189rem + 0.719vw, 3.0518rem);
  --step-4: clamp(2.7994rem, 2.5963rem + 1.0153vw, 3.8147rem);

  /*  Space size */
  --space-xs: clamp(0.875rem, 0.8625rem + 0.0625vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.1rem + 0.125vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.65rem + 0.1875vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.2rem + 0.25vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.3rem + 0.375vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.4rem + 0.5vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.6rem + 0.75vw, 7.5rem);
}

body {
  background-color: var(--background-color);
  font-size: var(--step-0);
}
h1 {
  font-size: var(--step-4);
  font-family: "Times New Roman", Times, serif;
  color: var(--color);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  border-bottom: #5e3023 solid 2px;
}
.nav__logo{
  max-width: 100%;
}

/* .nav__list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: var(--color);
  list-style-type: none;
}
.nav__list__item{
  padding: 1rem;
} */
.nav__button{
  padding: 0.5rem var(--space-m);
  border:solid #5e3023 2px;
  background-color: var(--background-color);
  font-size: var(--step-1);
  color: var(--color);
}