:root {
  font-family: "Raleway";

  color-scheme: light dark;
  --color: #5e3023;
  --background-color: #f3e9dc;
  --detail-color: #b10a3a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Font size */
  --step-0: clamp(1.125rem, 1.1rem + 0.125vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.3075rem + 0.2125vw, 1.5625rem);
  --step-2: clamp(1.944rem, 1.8445rem + 0.4974vw, 2.4414rem);
  --step-3: clamp(2.3328rem, 2.189rem + 0.719vw, 3.0518rem);
  --step-4: clamp(2.7994rem, 2.5963rem + 1.0153vw, 3.8147rem);

  /*  Space size */
  --space-xs: clamp(0.875rem, 0.8625rem + 0.0625vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.1rem + 0.125vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.65rem + 0.1875vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.2rem + 0.25vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.3rem + 0.375vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.4rem + 0.5vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.6rem + 0.75vw, 7.5rem);
}
  html {
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--background-color);
  font-size: var(--step-0);
  margin: var(--space-s);
  color: black;
  overflow-x: hidden;
}
h1 {
  font-size: var(--step-3);
  font-family: "Times New Roman", Times, serif;
  color: var(--color);
  text-align: center;
}
h2 {
  font-size: var(--step-2);
  font-family: "Times New Roman", Times, serif;
  color: var(--color);
  font-weight: 300;
  text-align: center;
}
h3 {
  font-size: var(--step-1);
  color: var(--color);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  margin-bottom: var(--space-xs);
}

.line {
  width: 100%;
  height: 2px;
  background-color: var(--color);
  border: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav__button {
  background: none;
  border: none;
  cursor: pointer;
}


.nav__button svg {
  width: 2rem;
  height: 2rem;
  color: var(--detail-color);
}

.nav__button[aria-expanded="true"] + .nav__list {
  display: block;
}

.nav__item {
  padding: var(--space-m);
}

.nav__link {
  color: var(--color);
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
}

.nav__museum {
  font-family: "Times New Roman", Times, serif;
  font-size: var(--step-0);
  border: #5e3023 solid 2px;
  /* background-color:#e5d8c7; */
  background-color: var(--background-color);
  padding: 0.5rem;
  color: var(--color);
  margin-left: var(--space-s);
}

.nav__list {
  margin-top: 1rem;
  list-style: none;
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  left: 0;
  padding-left: var(--space-xs);
  padding-top: var(--space-m);
  padding-right: var(--space-m);
  padding-bottom: var(--space-l);
  background-color: var(--background-color);
  z-index: 1;
  border-bottom: double 12px var(--color);
  border-right: double 12px var(--color);
}

.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.arc {
  margin-top: var(--space-s);
}
.intro__container__img {
  position: absolute;
  color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-top: var(--space-xl);
}

.intro__img {
  width: 85%;
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  padding-top: var(--space-m);
}

.intro__text {
  color: var(--background-color);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  max-width: 50%;
  text-align: center;
  padding-bottom: var(--space-s);
}
.figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: var(--space-s);
}

.figure__intro {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  color: var(--color);
  font-size: var(--step-2);
  padding: 10px;
}
.bible__languages__title::after {
  content: "";
  height: 2px;
  width: 25%;
  background-color: var(--color);
}

.line__part {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bible__title {
  margin-top: var(--space-xl);
  display: flex;
  margin-bottom: 0rem;
  align-items: center;
  justify-content: center;
}

.bible__king {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bible__languages__title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.question__section {
  margin: var(--space-xl) var(--space-m);
  text-align: center;
  transition: opacity 0.5s ease-in-out;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  border: double 8px var(--color);
  border-radius: 5%;
}

.question__text {
  font-family: 'Times New Roman', Times, serif;
  color: var(--color);
  transition: transform 0.5s ease-in-out;
  max-width: 70%;
  padding: var(--space-m);
}

.bible__languages__carousel {
  margin-top: var(--space-l);
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.bible__languages__carousel.visible {
  display: block;
  opacity: 1;
}

.answer__option {
  position: relative;
  color: var(--detail-color);
  text-transform: uppercase;
    margin: var(--space-s) auto;
  cursor: pointer;
  padding: var(--space-xs) ;
  overflow: hidden;
  text-align: center;
  border: none;
  background: none;
  outline: none;
  transition: background-color 0.3s ease;
}

.question__section__three::before,
.question__section__three::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--detail-color);
  transition: width 0.4s ease-in-out;
}
.question__section__five::before,
.question__section__five::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--detail-color);
  transition: width 0.4s ease-in-out;
}
.question__section__five::before {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.question__section__three::before {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.question__section__five::after {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.question__section__three::after {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.question__section__five:hover::before,
.question__section__five:hover::after {
  width: 100%;
}

.question__section__three:hover::before,
.question__section__three:hover::after {
  width: 100%;
}
.question__section__five:active {
  background: var(--detail-color);
  color: var(--background-color); 
}


.question__section__three:active {
  background: var(--detail-color);
  color: var(--background-color); 
}

.bible__languages__carousel {
  align-self: center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 10% 80% 10%;
}

.bible__problems__two__line {
  margin-left: var(--space-l);
}

.carousel__wrapper {
  width: 100%;
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
}

.carousel__image {
  width: 90%;
  border: #5a3224 double 8px;
}

.carousel__prev {
  grid-column: 1;
  grid-row: 1;
  color: #b10a3a;
  background-color: var(--background-color);
  border: none;
  font-size: var(--step-3);
  align-self: end;
  justify-self: flex-end;
  border-radius: 30%;
  z-index: 1;
}

.carousel__next {
  grid-column: 3;
  grid-row: 3;
  color: #b10a3a;
  background-color: var(--background-color);
  border: none;
  font-size: var(--step-3);
  align-self: end;
  justify-self: flex-end;
  border-radius: 30%;
}
.intro__dots {
  display: flex;
  justify-content: center;
  margin-top: var(--space-xs);
}

.intro__dot {
  margin-left: var(--space-xs);
  margin-right: var(--space-xs);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--color);
  cursor: pointer;
  transition: background-color 0.3s;
}

.intro__dot.active {
  background-color: var(--detail-color);
}

.bible__problems {
  margin: var(--space-s);
  width: 80%;
}

.bible__problems__one {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bible__problems__two {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bible__problems__three {
  border-bottom: solid 2px var(--color);
  padding-bottom: var(--space-m);
  text-align: center;
}

.botanic__intro__herbal {
  background-color: var(--color);
  color: var(--background-color);
  padding: var(--space-m);
}

.botanic__illustrations {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.botanic__illustrations__title{
 margin: var(--space-l) 0 var(--space-xs) 0;
}

.illustration__container {
  position: relative;
}

.illustration__container__leaf {
  position: absolute;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 50% 50%;
  justify-items: stretch;
  align-items: stretch;
}
.leaf {
  width: 70%;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.leaf__one {
  grid-row: 1;
  grid-column: 1;
}
.leaf__two {
  grid-row: 2;
  grid-column: 2;
}
.leaf__three {
  grid-row: 2;
  grid-column: 1;
}

@keyframes pop-effect {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.7;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.leaf.popped {
  animation: pop-effect 0.5s forwards;
}
/* 
.flowerbook {
  max-width: 100%;
  height: auto;
  margin-top: var(--space-m);
} */


.botanic__illustrations__generations {
  margin-top: var(--space-xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.botanic__illustrations__generations picture img {
  max-width: 70%;
  align-self: center;
}
.generations__text {
  max-width: 80%;
}

.step-container {
  position: relative;
  overflow: hidden;
  border: 2px double var(--color);
  height: 8rem;
  width: 8rem;
}

.atlas__art__title {
  text-align: center;
}
.atlas__art__title::before {
  content: "\2726";
  background-color: var(--background-color);
  margin-right: var(--space-xs);
}
.atlas__art__title::after {
  content: "\2726";
  background-color: var(--background-color);
  margin-left: var(--space-xs);
}
.end__combine {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.end__combine__image {
  width: 30%;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.big-image {
  position: absolute;
  width: 80%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.hidden {
  display: none;
}

.botanic__intro__puzzle {
  position: relative;
  max-width: 660px;
  aspect-ratio: 3 / 2;
  border: 1px solid #ccc;
  pointer-events: none;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}
