:root {
  font-family: "Raleway";

  color-scheme: light dark;
  --color: #5e3023;
  --background-color: #f3e9dc;
  --detail-color: #b10a3a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Font size */
  --step-0: clamp(1.125rem, 1.1rem + 0.125vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.3075rem + 0.2125vw, 1.5625rem);
  --step-2: clamp(1.944rem, 1.8445rem + 0.4974vw, 2.4414rem);
  --step-3: clamp(2.3328rem, 2.189rem + 0.719vw, 3.0518rem);
  --step-4: clamp(2.7994rem, 2.5963rem + 1.0153vw, 3.8147rem);

  /*  Space size */
  --space-xs: clamp(0.875rem, 0.8625rem + 0.0625vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.1rem + 0.125vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.65rem + 0.1875vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.2rem + 0.25vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.3rem + 0.375vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.4rem + 0.5vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.6rem + 0.75vw, 7.5rem);
}
html {
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--background-color);
  font-size: var(--step-0);
  margin: var(--space-s);
  color: black;
  overflow-x: hidden;
}
h1 {
  font-size: var(--step-3);
  font-family: "Times New Roman", Times, serif;
  color: var(--color);
  text-align: center;
}
h2 {
  font-size: var(--step-2);
  font-family: "Times New Roman", Times, serif;
  color: var(--color);
  font-weight: 300;
  text-align: center;
}
h3 {
  font-size: var(--step-1);
  color: var(--color);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  margin-bottom: var(--space-xs);
}

.hidden {
  display: none;
}
.nav {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.nav__link{
  text-decoration: none;
  color: var(--color);
  font-family: 'Times New Roman', Times, serif;
}
.nav__item{
padding: var(--space-s);
}
.nav__item::before{
  content: "\2726";
  color: var(--color);
  padding-right: 0.3rem;
}

.nav__list {
  grid-column: 1;
  display: none;
  flex-direction: column;
  background-color: var(--background-color);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  z-index: 1;
   width: 15rem;
}

.nav--open .nav__list {
  
    display: flex;
    transform: translateY(-10px);
    opacity: 1;
    align-items: flex-start;
    list-style: none;
  padding-bottom: var(--space-m);
    padding-top: var(--space-m);
    border-bottom: solid 2px var(--color);
     border-right: solid 2px var(--color);
}

.nav__button {
  grid-column: 2;
  cursor: pointer;
  background-color: var(--background-color);
  border: none;
  size: 2rem;

}
.nav__button svg {
  width: 1.5rem;
  height: 1.5rem;
}

.nav__museum {
  font-family: "Times New Roman", Times, serif;
  font-size: var(--step-0);
  border: #5e3023 solid 2px;
  background-color: var(--background-color);
  padding: 0.5rem;
  color: var(--color);
}

.line {
  width: 100%;
  height: 2px;
  background-color: var(--color);
  border: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.intro {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro__img {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.intro__img.active {
  display: block;
  opacity: 1;
}
.intro__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}
#image1{
  width: 80%;
}
#image2{
  width: 70%;
  padding-top: var(--space-xs);
}
#image3{
 width: 80%;
}
.arc__1 {
  margin-top: var(--space-s);
  grid-column: 1;
  grid-row: 1;
}
.arc__hidden{
  display: none;
}


.intro__container__img {
  grid-column: 1;
  grid-row: 1;
  color: var(--background-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__text {
  grid-row: 2;
  grid-column: 1;
  color: var(--background-color);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  max-width: 50%;
  text-align: center;
  padding-bottom: var(--space-s);
}

.intro__dots {
  display: flex;
  justify-content: center;
  margin-top: var(--space-xs);
}

.intro__dot {
  margin-left: var(--space-xs);
  margin-right: var(--space-xs);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--color);
  cursor: pointer;
  transition: background-color 0.3s;
}

.intro__dot.active {
  background-color: var(--detail-color);
}


.figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: var(--space-s);
}

.figure__intro {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  color: var(--color);
  font-size: var(--step-2);
  padding: 10px;
}


.line__part {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bible__title {
  margin-top: var(--space-xl);
  display: flex;
  margin-bottom: 0rem;
  align-items: center;
  justify-content: center;
}

.bible__king {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question__section {
  margin: var(--space-xl) 0;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: double 8px var(--color);
  border-radius: 5%;
}

.question__section__answer{
  display: flex;
  flex-direction: row;
}
.question__text {
  font-family: "Times New Roman", Times, serif;
  color: var(--color);
  transition: transform 0.5s ease-in-out;
  padding: var(--space-m);
}
.answer__option {
  color: var(--detail-color);
  text-transform: uppercase;
  margin: 0.2rem;
   margin-bottom:var(--space-s);
  cursor: pointer;
  padding: var(--space-xs);
  overflow: hidden;
  text-align: center;
  border: solid var(--color) 2px;
  background: none;
  outline: none;
  transition: background-color 0.3s ease;
}

.bible__languages__title{
   display: flex; 
  align-items: center;
}
.bible__languages__title::after {
  content: '';
  display: block;
  background-color: var(--color);
  height: 2px;
  flex: 1;
  align-self: center;
  order: 5;
}


.bible__problems__one__line{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
#wavyLineOne{
  grid-row: 1/span 2;
  grid-column:1;
}
.problems__words__years{
    grid-row: 1;
    grid-column: 1;
    align-self: center;
    color:var(--color);
    margin-top: var(--space-3xl);
    justify-self: center;
    font-size: var(--step-1);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin-left: var(--space-s);
}
.problems__words__workers{
grid-row: 2;
    grid-column: 1;
    color: var(--color);
    font-size: var(--step-1);
    justify-self: flex-start;
    align-self: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin-left: var(--space-l);
    margin-bottom: var(--space-l);
}


.bible__problems__two__line {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-left: var(--space-l);
}
#wavyLineTwo{
  grid-row:1;
  grid-column:1;
}
.problems__words__risk{
    grid-row: 1;
    grid-column: 1;
    align-self: center;
    margin-bottom: var(--space-3xl);
    justify-self: center;
        font-family: 'Times New Roman', Times, serif;
    font-style: italic;
      color: var(--color);
    font-size: var(--step-1);
}


.bible__languages__title::before {
  content: "\2726"; 
  order: 3;
  color: var(--color);
  padding: var(--space-xs);
}


.bible__languages__carousel {
display: none;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
   
}
.bible__languages__text{
  max-width: 70%;
}
.bible__languages__carousel.visible {
  display: flex; 
  flex-direction: column;
  opacity: 1; 
}
.carousel__grid{
  display: grid;
  grid-template-rows: 10% 80% 10%;
}
.carousel__wrapper__item {
  display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.carousel__wrapper{
grid-row:2;
}
.carousel__prev{
  grid-row: 1;
  justify-self: flex-start;
  margin-left: var(--space-s);
}
.carousel__next{
  grid-row: 3;
}

.carousel__wrapper__item.active {
  display: block;
  opacity: 1;
  width: 90%;
}

.carousel__prev,
.carousel__next {
  background-color: var(--background-color);
  border: none;
  font-size: 1.5rem;
  color: #b10a3a;
  cursor: pointer;
}

.bible__problems {
  margin: var(--space-s);
  width: 80%;
}

.bible__problems__one {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bible__problems__two {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bible__problems__three {
  border-bottom: solid 2px var(--color);
  padding-bottom: var(--space-m);
  text-align: center;
}

.botanic__intro__herbal {
  background-color: var(--color);
  color: var(--background-color);
  padding: var(--space-m);
}

.botanic__illustrations {
  display: flex;
  align-items: center;
  flex-direction: column;
}


.botanic__illustrations__title {
  margin: var(--space-l) 0 var(--space-xs) 0;
}

.illustration__container {
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows: 10% 90%;
 align-items: center;
}
.illustration__container__pop{
    grid-column: 1;
    grid-row: 1;
    color: var(--color);
    font-weight: 600;
    align-self: flex-start;
    justify-self: flex-end;
    display: flex;
    flex-direction: row-reverse;
    padding: var(--space-m);
    z-index: 3;
    align-items: flex-end;
}
.illustration__container__pop p {
  padding-left: var(--space-xs);
}

.illustration__container__leaf {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    justify-items: center;
    z-index: 2;
}
.leaf {
  width: 80%;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.leaf__one {
  grid-row: 1;
  grid-column: 1;
}
.leaf__two {
  grid-row: 2;
  grid-column: 2;
}
.leaf__three {
  grid-row: 2;
  grid-column: 1;
}

@keyframes pop-effect {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.7;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.leaf.popped {
  animation: pop-effect 0.5s forwards;
}

.flowerbook {
 grid-row: 2;
grid-column: 1;
}

.botanic__illustrations__generations {
  margin-top: var(--space-xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.botanic__illustrations__generations picture img {
  max-width: 70%;
  align-self: center;
}
.generations__text {
  max-width: 80%;
}

.atlas__art__title {
  text-align: center;
}
.atlas__art__title::before {
  content: "\2726";
  background-color: var(--background-color);
  margin-right: var(--space-xs);
}
.atlas__art__title::after {
  content: "\2726";
  background-color: var(--background-color);
  margin-left: var(--space-xs);
}

.puzzle__container {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 660 / 477; 
  margin: auto;
  border: 2px dashed #ccc; 
}

.puzzle__piece {
  position: absolute;
  background-image: url('../assets/puzzle/puzzle.jpg');
  background-size: 300%; 
  cursor: grab;
  box-sizing: border-box;
}

#piece1 { background-position: 0 0; top: 0; left: 0; }
#piece2 { background-position: -200px 0; top: 0; left: 200px; }
#piece3 { background-position: -400px 0; top: 0; left: 400px; }
#piece4 { background-position: 0 -200px; top: 200px; left: 0; }
#piece5 { background-position: -200px -200px; top: 200px; left: 200px; }
#piece6 { background-position: -400px -200px; top: 200px; left: 400px; }



.end{
margin-top: var(--space-xl);
}
.end__text{
  max-width: 95%;
}
/* 
.end__combine {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  overflow: hidden;
  position: relative;
}

.end__combine__image {
  width: 30%;
  transition: transform 0.3s ease;
}

.big-image {
  width: 100%;
  height: 100%;
  opacity: 0;
  clip-path: circle(0% at 50% 50%);
  transition: opacity 0.5s ease, clip-path 1s ease;
} */

.invite{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.invite__form{
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 1fr 1fr;
}
.invite__form__input{
  grid-row: 2;
  grid-column: 1;
  background-color: var(--background-color);
  border: solid 2px var(--color);
  color: var(--color);
  font-size: var(--step-0);
}
.invite__form__label{
  grid-row: 1;
  grid-column: 1;
  color: var(--color);
  font-family: 'Times New Roman', Times, serif;
}
.invite__form__submit{
    grid-row: 2;
  grid-column: 2;
  background-color: var(--detail-color);
  color: var(--background-color);
  border: none;
  font-size: var(--step-1);
  padding-left: var(--space-xs);
   padding-right: var(--space-xs);
}

@media screen and (min-width: 45em){  
  .nav {
    display: flex;
   flex-direction: row;
  }
  
  
  .nav__button {
    display: none;
  }
   
  .nav__list {
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    margin-inline-start: auto;
  }
  .nav__link{
    color: var(--color);
  }
 
  .arc{
 display: block;
  }
 
 .intro__grid{
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
  .intro__arc{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: row;
  }

.intro__container__img{
    grid-column: 1;
    grid-row: 1;
    position: relative;
    display: flex;
flex-direction: row; 
}
.intro__img{
  display: block;
  opacity: 1;
}
.intro__dots{
  display: none;
}
.canvas__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(94, 48, 35, 0.0); 
  pointer-events: auto;
}

}