:root {
  font-family: "Raleway";

  color-scheme: light dark;
  --color: #5e3023;
  --background-color: #f3e9dc;
  --detail-color: #b10a3a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Font size */
  --step-0: clamp(1.125rem, 1.1rem + 0.125vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.3075rem + 0.2125vw, 1.5625rem);
  --step-2: clamp(1.944rem, 1.8445rem + 0.4974vw, 2.4414rem);
  --step-3: clamp(2.3328rem, 2.189rem + 0.719vw, 3.0518rem);
  --step-4: clamp(2.7994rem, 2.5963rem + 1.0153vw, 3.8147rem);

  /*  Space size */
  --space-xs: clamp(0.875rem, 0.8625rem + 0.0625vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.1rem + 0.125vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.65rem + 0.1875vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.2rem + 0.25vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.3rem + 0.375vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.4rem + 0.5vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.6rem + 0.75vw, 7.5rem);

  
}

body {
  background-color: var(--background-color);
  font-size: var(--step-0);
  margin-left: var(--space-s);
  margin-right: var(--space-s);
  color: black;
}
h1 {
  font-size: var(--step-3);
  font-family: "Times New Roman", Times, serif;
  color: var(--color);
  text-align: center;
}
h2 {
  font-size: var(--step-2);
  font-family: "Times New Roman", Times, serif;
  color: var(--color);
  font-weight: 300;
  text-align: center;
}
h3{
  color: var(--background-color);
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  max-width:50%;
  text-align:center ;
  padding-bottom: var(--space-s);
}

.line {
  width: 100%;
  height: 2px;
  background-color: var(--color);
  border: none;
}


.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav__button {
  background: none;
  border: none;
  cursor: pointer;
}
.nav{
  position: relative;
}

.nav__button svg {
  width: 2rem;
  height: 2rem;
  color: var(--detail-color);
}

.nav__button[aria-expanded="true"] + .nav__list {
  display: block;
}

.nav__item {
  padding: var(--space-m);
}

.nav__link {
  color: var(--color);
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
}

.nav__museum {
  font-family: "Times New Roman", Times, serif;
  font-size: var(--step-0);
  border: #5e3023 solid 2px;
  /* background-color:#e5d8c7; */
  background-color: var(--background-color);
  padding: 0.5rem;
  color: var(--color);
  margin-left: var(--space-s);
}

.nav__list {
  list-style: none;
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  left: 0;
  padding-left: var(--space-xs);
  padding-top: var(--space-m);
  padding-right: var(--space-m);
  padding-bottom: var(--space-l);
  /* background-color: #e5d8c7; */
  background-color: var(--background-color);
  /* border-bottom-right-radius:50px; */
  border-bottom: double 12px var(--color);
  border-right: double 12px var(--color);
}

.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--space-xs);
}
.arc {
 margin-top: var(--space-s);
}
.intro__container__img {
  position: absolute;
  color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-top: var(--space-xl);
}

.intro__img {
width: 85%;
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    padding-top: var(--space-m);
}

.figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: var(--space-s);
}

.figure__intro {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .line__top {
  height: 2px; 
  width: var(--line-1);
  background-color: #5A3224; 
}
.line__bottom {
  height: 2px; 
  width: var(--line-2);
  background-color: #5A3224; 
} */
.icon {
  color: #5a3224;
  font-size: var(--step-2);
  padding: 10px;
}
.bible__languages__title::after{
content: "";
    height: 2px;
    width: 25%;
    background-color: var(--color);
}
.intro__title {
  max-width: 100%;
}
.line__part {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bible__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.bible__title::after {
  content: "";
  height: 2px;
  background-color: #5a3224;
  width: 30%;
}
.bible__king{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.bible__languages__title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

  .bible__languages__carousel {
display:grid;
grid-template-columns: auto auto auto;
grid-template-rows: 10% 80% 10%;
  }

   .carousel__wrapper {
    width: 100%;
    grid-column: 2;
    grid-row: 2;
  }


  .carousel__image {
    width: 100%;
  }

.carousel__prev {
grid-column: 1;
grid-row: 1;
border-radius: 50%;
border: #b10a3a 2px solid;
background-color: var(--background-color);
color: #b10a3a;
}

.carousel__next {
grid-column: 3;
grid-row: 3;
border-radius: 50%;
background-color: var(--background-color);
color: #b10a3a;
}

.bible__problems {
  margin: var(--space-s);
  width: 80%;
}

.bible__problems__one {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bible__problems__two {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bible__problems__three {
  color: #000000;
  border-bottom: solid 2px var(--color);
  padding-bottom: var(--space-m);
}

.botanic__intro__herbal {
  background-color: var(--color);
  color: var(--background-color);
  padding: var(--space-m);
}

.botanic__illustrations {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}


  .illustration-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .illustration__container__leaf{
     position:absolute;
     display:grid;
     grid-template-columns: auto auto;
     grid-template-rows: auto auto;
    justify-items: stretch;
    align-items: center;
   
  }
    .leaf {
    width: 60%;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
.leaf__one{
  grid-row:1;
  grid-column:1;
}
.leaf__two{
  grid-row:2;
  grid-column:2;
}
.leaf__three{
  grid-row:2;
  grid-column:1;
}


  @keyframes pop-effect {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.5);
      opacity: 0.7;
    }
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }

   .leaf.popped {
    animation: pop-effect 0.5s forwards;
  }

  .flowerbook {
    max-width: 100%;
    height: auto;
    margin-top: var(--space-m);
  }

.botanic__illustrations__generations{
display: grid
;
   
    grid-template-rows: auto auto;
}
.generations__first{
     max-width: 100%;
     grid-row: 1;
}
.generations__second{
 max-width: 100%;
     grid-row: 2;
}


.step-container {
  position: relative;
  overflow: hidden;
  border: 2px double var(--color);
 
  height:4rem;
  width: 4rem;
}

.shoe {
  position: absolute;
  width: 30%; 
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
}

.first-shoe {
  bottom: 20px;
  left: 50px;
}

.second-shoe {
  bottom: 20px;
  right: 50px;
}
.atlas__art__title{
text-align: center;
}
.atlas__art__title::before{
content: "\2726";
background-color: var(--background-color);
margin-right: var(--space-xs);
}
.atlas__art__title::after{
content: "\2726";
background-color: var(--background-color);
margin-left: var(--space-xs);
}
.end__combine {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.end__combine__image {
  width: 30%; 
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.big-image {
  position: absolute;
  width: 80%; 
  opacity: 0;
  transition: opacity 0.5s ease;
}

.hidden {
  display: none;
}